<body>
  <div class="col col-1-4">
    <aside>
      <h1><a href="">Launching the New React/Redux Curriculum</a></h1>
      <h2>By APP ACADEMY INSTRUCTIONAL TEAM</h2>
      <ul class="bullets">
        <li>
          It helps you write applications that behave consistently, 
          run in different environments (client, server, and native), 
          and are easy to test. On top of that, it provides a great developer experience, 
          such as live code editing combined with a time traveling debugger.
        </li>

        <li>
        The whole state of your app is stored in an object tree inside a single store.
        The only way to change the state tree is to emit an action, an object describing what happened. 
        To specify how the actions transform the state tree, you write pure reducers.
        </li>

      </ul>
      <a href="">1738 Comments</a>
    </aside>
  </div>
  
  <div class="col col-1-2">
    <section class="video-container">
      <iframe 
        width="560" 
        height="315" 
        src="https://www.youtube.com/embed/ARe9FupzuOA" 
        frameborder="0" 
        class="video"
        allowfullscreen>

      </iframe>
    </section>
     <p>Warning: This video will make you want to change your career</p>
      <a href="">Where Are They Now?</a>
      <p>By APP ACADEMY ALUMNI</p>
      <p>
        First hand stories from App Academy graduates about transitioning 
        to engineering positions at top tech companies in San Francisco.
      </p>


      <a href="">Cat Academy</a>
      <p>
        By APP ACADEMY DIRECTOR OF PRODUCTS
      </p>
      <p>
        App Academy's latest product targets those interested in owning the popular 
        feline companion by providing a curated cat care curriculum.
      </p>
  </div>
</body>

<div class="col col-1-4">
  <section class="opinion">
    <h3>The Opinion Pages</h3>
  </section>

  <div class="col col-1-2">
    <section class="contributor">
      <h4>OP-ED CONTRIBUTOR</h4>
      <a href="">Will Javascript ever be as easy as Ruby?</a>
      <p>
        Javscript continues to advance with the newly released EcmaScript7 
        but it still doesn't quite read like Ruby.
      </p>
      <ul>
        <li>Torvalds: When I Was Almost Wrong</li>
        <li>Knuth: Art of Programming</li>
        <li>Lovelace: The First Algorithm</li>
        <li>Hopper: The First Bug</li>
        <li>Thompson: Go C Unix</li>
        <li>Carmack: My Virtual Reality</li>
        <li>Stallman: Free Speech Not Free Coffee</li>
      </ul>
    </section>
  </div>

  <div class="col col-1-2">
    <section class="operations">
      <h4>Operations</h4>
      <a href="">App Academy New York Has A Brand New Office</a>
      <h3>By NY OPERATIONS</h3>
      <p>
        The new space features hardwood floors and brick walls 
        for a modern technology space with an aura for learning.
      </p>
      <div class="thumbnail">
        
        <img src="/assets/new_office.jpg" alt="office">
       
      </div>
      <p style="margin-top: 40px">Opinion Today, in your Inbox</p>
      <p>
        Each weekday, get though-provoking commentary from our columnists and contributors.
      </p>
    </section>
  </div>

</div>

<div class="col col-1-4">
  <section>
  <form action="" class="emailaddy">
  <input size="40" type="email" value="Get the Opinion newsletter by email" >
  <input type="submit" value="SIGN UP">
  </form> 
  </section>
  <p class="stuff">We'll also send offers to join the App Academy Bootcamp. You can never unsubscribe.</p>
</div>
 

    
<!--The Opinion Pages
    
Op-Ed Contributor
Will Javascript ever be as easy as Ruby?
Javscript continues to advance with the newly released EcmaScript7 but it still doesn't quite read like Ruby.

Torvalds: When I Was Almost Wrong
Knuth: Art of Programming
Lovelace: The First Algorithm
Hopper: The First Bug
Thompson: Go C Unix
Carmack: My Virtual Reality
Stallman: Free Speech Not Free Coffee

Operations
App Academy New York Has A Brand New Office
By NY OPERATIONS

The new space features hardwood floors and brick walls for a modern technology space with an aura for learning.

Opinion Today, in your Inbox
Each weekday, get though-provoking commentary from our columnists and contributors.

Sign Up

We'll also send offers to join the App Academy Bootcamp. You can never unsubscribe.-->