<header class="masthead">

  <nav class="language-nav">
    <ul>
      <a href=""><li>CSS</li></a>
      <a href=""><li>HTML</li></a>
      <a href=""><li>Javascript</li></a>
      <a href=""><li>Ruby</li></a>
    </ul>
  </nav>

  <img class="logo" src="/assets/AA_Times_Logo.png" alt="Logo">

  <nav class="masthead-links">
      <li><i class="far fa-calendar-alt"></i>Tuesday, October 18, 2016</li>
      <li><a href=""><i class="far fa-newspaper"></i>Today’s Paper</a></li>
      <li><a href=""><i class="fas fa-video"></i>Video</a></li>
      <li><i class="far fa-sun"></i>77°F</li>
      <li><i class="fas fa-chart-line"></i>AAO 
        <span style="color: green">+100%</span>
      </li>
  </nav>

</header>




